* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

nav {
    padding: 29.5px 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.nav-item {
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 40px;
}

.nav-button {
    padding: 12px 20px;
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.main-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/assets/grid.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-hero-title {
    padding-top: 145px;
    color: white;
    font-size: 72px;
    font-weight: 600;
}

.main-hero-title>.dot {
    color: #87FB0A;
}

.main-hero-subtitle {
    margin-top: 14px;
    color: #D4D4D4;
    font-size: 32px;
    font-weight: 400;
}

.main-hero-button {
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 12px 20px;
    background-color: #87FB0A;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.explore {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-badge {
    color: #BCBCBC;
    font-size: 12px;
    padding: 10px 12px;
    background-color: #151515;
    border-radius: 4px;
}

.section-title {
    color: white;
    font-size: 28px;
    margin-top: 20px;
    background: linear-gradient(to right, #FFFFFF, #999999);
    background-clip: text;
    color: transparent;
}

.section-title>.underscore {
    color: #87FB0A;
}

.apps {
    width: 100vw;
    display: flex;
    margin-top: 72px;
    flex-direction: row;
    color: white;
    gap: 20px;
    padding-left: 96px;
    padding-right: 96px;
}

.app {
    flex: 8;
}

.app-content {
    padding: 44px 48px;
    display: flex;
    flex-direction: column;
}

.onlywalls-bg {
    background: url('/assets/onlywalls-bg.png');
    background-size: 100% 100%;
}

.onlyai-bg {
    background: url('/assets/onlyai-bg.png');
    background-size: 100% 100%;
}

.coming-soon {
    flex: 2;
    background-color: #101010;
}

.about {
    margin-top: 200px;
    margin-left: 96px;
    margin-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-name {
    font-size: 32px;
    font-weight: 700;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.app-bottom-divider {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #F2FD50, #FFFFFF);
}

.coming-soon {
    align-content: center;
    border-bottom: 5px #979797 solid;
}

.coming-soon-title {
    color: #979797;
    font-size: 24px;
    transform: rotate(-90deg);
    text-align: center;
}

.about-detail {
    display: flex;
    flex-direction: row;
}

.about-detail-1 {
    background-color: #171416;
    padding: 32px;
    color: #979797;
    font-size: 22px;
    flex: 7;
    border-left: 5px #87FB0A solid;
    align-content: center;
}

.about-detail-2 {
    flex: 3;
    color: white;
    align-content: center;
    padding: 32px;
    font-size: 22px;
    border: 2px #171416 solid;
}

footer {
    padding: 44px;
    margin-top: 98px;
    border-top: 1px rgba(242, 253, 80, 0.2) solid;
}
